In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
ratings = pd.read_csv("./MovieLens.csv")
display(len(ratings), ratings.head())

26024289

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [4]:
ratings.info(null_counts=True)

C:\Users\rashi\AppData\Local\Temp/ipykernel_2360/3356424145.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  ratings.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Non-Null Count     Dtype
---  ------     --------------     -----
 0   userId     26024289 non-null  int64
 1   movieId    26024289 non-null  int64
 2   rating     26024289 non-null  float64
 3   timestamp  26024289 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

In [18]:
ratings['timestamp'] =  ratings['timestamp'].astype('datetime64[s]', errors = "raise")

In [20]:
ratings['timestamp'].describe()

C:\Users\rashi\AppData\Local\Temp/ipykernel_2360/660909529.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  ratings['timestamp'].describe()

count                26024289
unique               20549435
top       1996-03-01 00:00:00
freq                      685
first     1995-01-09 11:46:44
last      2017-08-04 06:57:50
Name: timestamp, dtype: object